body {
    background: lightgray;
}

.card {
    background: white;
    box-shadow: 0px 2px 5px #AAAAAA;
    margin-top: 25px;
    padding: 30px;
}

.columnswithbottompadding {
    padding-bottom: 20px;
}

.clickable_heading {
    cursor: pointer;
    font-weight:bold;
    padding: 5px;
    font-size: 200%;
}

.greentext {
    color: green;
    font-style:italic;
    font-weight:bold;
}

.arrow_image {
    margin-bottom:5px;
    height:25px;
    width:25px;
}

.repo_list_validate_label {
    display:none;
    margin-bottom: 10px;
}

.branch-icon {
    float: left;
    margin-top: 5px;
    padding-right: 5px;
}

.branch-text {
    float: left;
    padding-top: 10px;
    padding-right: 5px;
}

.my-repositories-heading{
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    color: gray;
}

.add-repo-button{
    float: right;
    padding-top: 20px;
    padding-right: 10px;
    max-height: 70px;
    max-width: 70px;
}

.no-repos-card{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: gray;
}

.blue-clicky-text {
    cursor: pointer;
    font-weight:bold;
    color: #008cba;
}