body {
    background: lightgray;
}

.card {
    background: white;
    box-shadow: 0px 2px 5px #AAAAAA;
    margin-top: 25px;
    padding: 30px;
}

.columnswithbottompadding {
    padding-bottom: 20px;
}

.clickable_heading {
    cursor: pointer;
    font-weight:bold;
    padding: 5px;
    font-size: 200%;
}

.greentext {
    color: green;
    font-style:italic;
    font-weight:bold;
}

.arrow_image {
    margin-bottom:5px;
    height:25px;
    width:25px;
}

.repo_list_validate_label {
    display:none;
    margin-bottom: 10px;"
}
