{% load staticfiles %}
<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "images/favicon.ico" %}" type="image/x-icon">
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
    <!-- Foundation CSS CDN -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.3.1/css/foundation.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- Modernizr CDN -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.1/js/vendor/modernizr.js"></script>

    <title>SourceControl.Me | Repository Analysis</title>
    {% block head %}
    {% endblock %}
</head>


<body>

{% block navbar %}
    <nav class="top-bar" data-topbar>
        <ul class="title-area">

            <li class="name">
                <h1>
                    <a href="/">
                        {% load staticfiles %}
                        <img src="{% static "images/topbanner.png" %}" alt="Banner and logo" style="height:45px;"/>
                    </a>
                </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
        </ul>
        <section class="top-bar-section">

            <ul class="right">
                <li class="divider"></li>
                {% if user.is_authenticated %}
                    <li class="divider"></li>
                     <li>
                        <a href="/">My Repositories</a></li>

                    <li class="divider"></li>
                    <li class="has-dropdown">
                        <a> Hello, {{ user.username }}</a>
                        <ul class="dropdown">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>

                {% else %}
                    <li class="divider"></li>
                    <li><a href="/login">Log In</a></li>
                    <li class="divider"></li>
                    <li><a href="/signup">Sign Up</a></li>
                {% endif %}
                <li class="divider"></li>
            </ul>
        </section>
    </nav>
{%  endblock %}

<div class="row">
    <div class="large-12 columns">
        {% block content %}

        {% endblock %}
    </div>
</div><br>



<!-- jQuery CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.1/js/vendor/jquery.js"></script>
<!-- Foundation JS CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.4.1/js/foundation.min.js"></script>
<!-- Initialize Foundation -->
<script>$(document).foundation();</script>
<!-- d3.js -->
<script src="http://d3js.org/d3.v3.min.js"></script>
<!-- andy.js -->
<script src="static/javascript/graphs.js"></script>

<!-- Charting CDN -->
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/excanvas.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.categories.min.js"></script>
{% block extra_js %}

{% endblock %}
</body>
</html>