{%  extends "base.html" %}

{% block content %}

    {% if failed %}
        <span style="color: red;">Error logging in: incorrect name or password</span>
    {% endif %}

	<form id="signup" action="do_login" method="POST">
	    <input name="user_name" id="userName" placeholder="Username" type="text">

        <input name="password" id="passwordInput" placeholder="Password" type="password">

        <input class="button" id="submitButton" value="Log In" type="submit">

        {% csrf_token %}
	</form>

{% endblock %}