{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}

    <h2 class="my-repositories-heading" style="font-family: 'Francois One', sans-serif;">Query Examples</h2>

    <div class="large-12 columns card">
        <p>It is easy to learn SourceControl's query language through example. On this page you'll find
        several working examples of queries that you can use with your reports.</p>
        <br />
        <p class="queryhelp-paragraph">find branches</p>
        <p>This is a simple 'find' query, which will return all branches on the current repo. On the report view,
        this will be represented with a graph relating the branches to their numbers of commits.</p>
        <p class="queryhelp-paragraph">find users where num_commits &gt; 10</p>
        <p>This query will return all users who have more than 10 commits. It will appear as a pie chart with
        each user and their commits. The users will also be listed much like they are on the repo pages.</p>
        <p class="queryhelp-paragraph">find users where num_commits &gt; 10, additions &lt; 50</p>
        <p>This query will return all users who have more than 10 commits but less than 50 line additions.
        This could be useful in finding contributors who commit often but don't make many additions per commit.</p>
        <p class="queryhelp-paragraph">get additions from users where num_commits &lt; 20</p>
        <p>'Get' queries allow you to specify which kind of data to graph. By default, queries on users
        graph the number of commits. In this example, we graph the number of line additions each user has.
        Much like with the 'find' queries, we can specify multiple conditions.</p>
        <p class="queryhelp-paragraph">count commits where commit_time = "12-04-2014"</p>
        <p>Returns a count of the number of objects found in a query. This is simply displayed as a number on a report.</p>
        <p class="queryhelp-paragraph">get num_build_fix from users where num_build_break &gt; 10</p>
        <p>If you integrate a Jenkins API endpoint with your repository, you can check build breaking
        statistics. This query will tell you whether people who break the build are responsible enough to fix it.</p>

        <p>For a list of available data and conditions, refer to the <a href="{% url "query_ref" %}">query reference</a>.</p>
    </div>

{% endblock %}