{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        var parsedAuthorData = {{ json_authors|safe }};
        var parsedWeekData = {{ week_commits|safe }};
    </script>
{% endblock %}
{% block content %}
    <div class="large-12 columns card">
        <div class="large-6 columns">
            <h3><b>{{ repo.name }}</b></h3>
            <b>{{ repo.git_store.gitRepositoryURL }}</b>
            {% load staticfiles %}
            <br> <img src="{% static "images/git-branch.png" %}" class="branch-icon"/><div class="branch-text">{{ repo.git_store.branch_name }}</div>
        </div>
        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ repo.git_store.numFiles }}
            <br/><div style="font-size:14px;color:black;">files</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ repo.git_store.numCommits }}
            <br/><div style="font-size:14px;color:black;">commits</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ authors|length }}
            <br/><div style="font-size:14px;color:black;">committers</div>
        </div>
    </div>

    <div class="large-12 columns card">
        {% for author in authors %}
            <div class="large-6 columns" style="float:left;">
                <div class="large-8 columns" style="margin-bottom: 10px;">
                    <h5><b>{{ author.name }}</b></h5>
                </div>
                <div class="large-4 columns" style="font-size:19px;color:darkblue;">
                    {{ author.num_commits }}
                    &nbsp;<div style="font-size:12px;color:black;">commits</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="large-12 columns card">
        <div id="pie_chart" class="large-6 columns" style="text-align:center"></div>
        <div id="bar_chart" class="large-6 columns" style="text-align:center"></div>
    </div>

{% endblock %}
{% block extra_js %}
{% endblock %}

