{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}

    <!-- {{ query_result }} -->
    <h2 class="my-repositories-heading" style="font-family: 'Francois One', sans-serif;">{{ report.name }}</h2>

    <div class="large-12 columns card">
        {% for result in query_result %}
            {% if forloop.counter <= 4 %}
                <div class="large-6 columns" style="float:left;">
                    <div class="large-8 columns" style="margin-bottom: 10px;">
                        <a href="/authors/detail/{{ result.pk }}"><h5 class="blue-clicky-text"><b>{{ result.name }}</b></h5></a>
                    </div>
                    <div class="large-4 columns" style="font-size:19px;color:darkblue;">
                        {{ result.num_commits }}
                        &nbsp;<div style="font-size:12px;color:black;">commits</div>
                    </div>
                </div>
            {% else %}
                <div class="hide extra_committers">
                    <div class="large-6 columns" style="float:left;">
                        <div class="large-8 columns" style="margin-bottom: 10px;">
                            <a href="/authors/detail/{{ result.pk }}"><h5 class="blue-clicky-text"><b>{{ result.name }}</b></h5></a>
                        </div>
                        <div class="large-4 columns" style="font-size:19px;color:darkblue;">
                            {{ result.num_commits }}
                            &nbsp;<div style="font-size:12px;color:black;">commits</div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="large-12 columns commithider blue-clicky-text" style="text-align: center; margin-top: 10px; color: black;">
            {% if query_result.count > 4 %}
                View All ({{ query_result.count }})
            {% endif %}
        </div>
        <div class="large-12 columns" style="height:220px;text-align:center;margin-top: 40px;">
            <div id="chartcontainer" style="height:200px;width: 50%;margin:0 auto;"></div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        $(document).ready(function(){
            $(".commithider").click(
                    function(e){
                        e.preventDefault();
                        $(".extra_committers").slideToggle(200,function() {
                            $(".commithider").text($(this).is(':visible') ? "Show Less" : "View All ({{ query_result.count }})");
                        });
                    }
            )
        });

        {% if query_chart_type == "pie" %}
            $.plot('#chartcontainer', {{ response|safe }}, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        label: {
                            show: true,
                            radius: 1,
                            formatter: function (label, series) {
                                return '<div style="font-size:11px; text-align:center; padding:2px; color:white;">' + label + '<br/>' + Math.round(series.percent) + '%</div>';
                            },
                            threshold: 0.09,
                            background: {
                                opacity: 0.8,
                                color: '#444'
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            });
        {% elif query_chart_type == "bar" %}
            $.plot('#chartcontainer', [{{ response|safe }}], {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0
                },
                yaxis: {
                    min: 0
                }
            });
        {% elif query_chart_type == "line" %}
            $.plot('#chartcontainer', [{{ response|safe }}], {
                xaxis: {
                    mode: "categories",
                    tickLength: 0
                },
                yaxis: {
                    min: 0
                }
            });
        {% endif %}
    </script>
{% endblock %}