{% extends "base.html" %}

{% block content %}
    {% load staticfiles %}
    <h2 class="my-repositories-heading" style="font-family: 'Francois One', sans-serif;">MY REPOSITORIES</h2>
    <a href="#" data-reveal-id="modalForm"><img src="{% static "images/add.png" %}" class="add-repo-button"/></a>

    <div id="modalEditForm" class="reveal-modal" data-reveal>
        <div class="big_heading" id="editModalHeading">Edit</div>
        <form id="editRepoForm" action="/edit_repo" method="POST" style="margin-top:10px;">

            <div id="nameValidate_edit" class="repo_list_validate_label"></div>
            <label>Name
                <input name="editName" id="editNameField" type="text" placeholder="Name">
            </label>

            <label>Description
                <textarea name="editDesc" id="editDescField" rows="3" style="resize:none;" placeholder="Description (optional)"
                          {% if git_error and git_error_description %}value="{{ git_error_description }}"{% endif %}></textarea>
            </label>

            <input type="hidden" id="editRepoField" name="editRepo" value="">

            <input id="editRepo_edit" type="submit" value="Save" class="button" style="margin-bottom: 0px;padding-left: 80px;padding-right: 80px;">
            {% csrf_token %}
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="modalForm" class="reveal-modal" data-reveal>
        <div class="big_heading">Add New Repository</div>
        <form action="/count_files" method="GET" style="margin-top:10px;">

            <div id="urlValidate" class="repo_list_validate_label"></div>
            <input class="error" name="repo" type="text" id="urlField" placeholder="Repository Link"
                   {% if git_error %}value="{{ repo_url }}"{% endif %}
                   data-abide-validator="myCustomValidator">

            <small id="repo_error" class="error" style="display:none;"></small>
            <br>

            <div id="nameValidate" class="repo_list_validate_label"></div>
            <input name="name" id="nameField" type="text" placeholder="Name"
                   {% if git_error %}value="{{ git_error_name }}"{% endif %}>

            <textarea name="desc" rows="3" style="resize:none;" placeholder="Description (optional)"
                      {% if git_error and git_error_description %}value="{{ git_error_description }}"{% endif %}></textarea>

            <input id="submitRepo" type="submit" value="Store" class="button" style="margin-bottom: 0px;padding-left: 80px;padding-right: 80px;">
        </form>
        <a class="close-reveal-modal">&#215;</a>
    </div>

    {% if repo_list %}
        {% for repo in repo_list %}
            <div id="repo-{{ repo.pk }}" class="large-12 columns card">
                <div class="large-10 columns">
                    <h4>{% if repo.git_store.status == 3 %}<a href="/repo/detail/{{ repo.pk }}"><b id="name-{{ repo.pk }}">{{ repo.name }}</b></a>
                        {% else %}<b id="name-{{ repo.pk }}">{{ repo.name }}</b>
                    {% endif %}
                    </h4>
                    <h5><b id="url-{{ repo.pk }}">{{ repo.git_store.gitRepositoryURL }}</b></h5>
                    {% if repo.git_store.status != 3 %}
                        <!-- TODO: Messages for each possible state -->
                        <h6 id="status-{{ repo.pk }}"><img src="{% static "images/spinner.gif" %}">Repo currently being processed.</h6>
                    {% endif %}

                    {% if repo.repo_description %}
                        <div class="desc-{{ repo.pk }}" style="color:grey;font-style:italic;display:{% if repo.git_store.status == 3 %}block{% else %}none{% endif %}";>{{ repo.repo_description }}</div>
                    {% endif %}
                </div>
                {% if repo.git_store.status == 3 %}
                    <div class="large-1 columns" style="font-size:22px;color:darkblue;margin-top: 20px;">
                        {{ repo.git_store.numFiles }}
                        <br/><div style="font-size:15px;color:black;">files</div>
                    </div>
                    <div class="large-1 columns" style="font-size:22px;color:darkblue;margin-top: 20px;">
                        {{ repo.git_store.numCommits }}
                        <br/><div style="font-size:15px;color:black;">commits</div>
                    </div>
                {% endif %}

                <div class="large-12 columns">
                    <i class="fa fa-cogs responsive-icon" style="float:right;" data-options="align:left" data-dropdown="editDropdown{{ repo.pk }}"></i>
                </div>
                <!--Dropdown-->
                <ul id="editDropdown{{ repo.pk }}" class="tiny f-dropdown" data-dropdown-content>
                    <li id="editRepoButton" data-reveal-id="modalEditForm"><a href="#">Edit Repository</a></li>
                    <li id="deleteRepo_edit"><a href="{% url "delete_repo" repo.pk %}">Delete Repository</a></li>
                </ul>

            </div>
        {% endfor %}
    {% else %}
        <div class="large-12 columns card no-repos-card">
            You have no repositories added. Hit the '+' above to add one now!
        </div>
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script src="{% static "javascript/progress.js" %}"></script>
    <script type="text/javascript">
        {% if git_error %}
            $(document).ready(function(){
                $('#modalForm').foundation('reveal', 'open');
                document.getElementById('repo_error').style.display = "block";
                $('#repo_error').text("Invalid Repository!");
            });
        {% endif %}

        $('#urlField').on('input', function() {
            document.getElementById('repo_error').style.display = "none";
        });

        var theButton = document.querySelector("#submitRepo");
        theButton.addEventListener("click", register);

        function register(e) {
            var nameField = document.getElementById("nameField");
            var urlField = document.getElementById("urlField");

            var nameValidateDiv = document.getElementById("nameValidate");
            var urlValidateDiv = document.getElementById("urlValidate");

            var didWork = true;

            if (nameField.value == "") {
                nameValidateDiv.style.display = "block";
                nameValidateDiv.style.color = "red";
                nameValidateDiv.innerHTML = "Cannot leave name blank.";
                didWork = false;
            }
            else {
                nameValidateDiv.innerHTML = "";
                nameValidateDiv.style.display = "none";
            }

            if (urlField.value == "") {
                urlValidateDiv.style.display = "block";
                urlValidateDiv.style.color = "red";
                urlValidateDiv.innerHTML = "Cannot leave repository address blank.";
                didWork = false;
            }
            else {
                urlValidateDiv.style.display = "none";
                urlValidateDiv.style.innerHTML = "";
            }

            if (didWork == false) {
                e.preventDefault();
            }

            return didWork;
        }

        //Register a function handler for when the delete button is clicked that changes the
        //Form action to delete_repo instead of edit_repo
        var deleteRepoButton = document.querySelector('#deleteRepo_edit');
        deleteRepoButton.addEventListener("click", changeToDelete);
        function changeToDelete(e) {
            var editForm = document.querySelector('#editRepoForm');
            editForm.action = '/delete_repo';
        }

        var editButtonList = document.querySelectorAll('#editRepoButton');
        var len = editButtonList.length;
        //loop through list and add event listener
        for (var i =0;  i < len; i++) {
            editButtonList[i].addEventListener("click", edit);
        }

        function edit(e) {
            var editForm = document.querySelector('#editRepoForm');
            editForm.action = '/edit_repo';
            console.log("Editing");
            var card = $(this).parents('.large-12.columns.card');
            console.log(card);

            //Get the repo number
            var cardID = card.attr('id');

            //Parse out the 'repo-'
            cardID = cardID.replace('repo-','');
            console.log(cardID);

            var nameIDString = '#name-' + cardID;
            var descIDString = '.desc-' + cardID;
            var repoString = '#url-' + cardID;
            var name = $(nameIDString).html();
            var desc = $(descIDString).html();
            var repo = $(repoString).html();
            console.log(name);
            console.log(desc);
            console.log(repo);

            var nameEditField = $('#editNameField');
            var descEditField = $('#editDescField');
            var repoEditField = $('#editRepoField');
            var editModalHeading = $('#editModalHeading');

            console.log(nameEditField);
            console.log(descEditField);

            console.log("Name Edit Field Val:");
            console.log(nameEditField.val());

            console.log("Desc Edit Field Val:");
            console.log(descEditField.val());

            editModalHeading.text("Edit - "+repo);
            nameEditField.val(name);
            descEditField.val(desc);
            repoEditField.val(repo);

            console.log("Name Edit Field Val:");
            console.log(nameEditField.val());

            console.log("Desc Edit Field Val:");
            console.log(descEditField.val());
            return 1;
        }
    </script>
{% endblock %}