{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        var parsedAuthorData = {{ json_authors|safe }};
        var parsedWeekData = {{ week_commits|safe }};
    </script>
{% endblock %}
{% block content %}
    <div class="large-12 columns card">
        <div class="large-6 columns">
            <h3><b>{{ repo.name }}</b></h3>
            <b>{{ repo.git_store.gitRepositoryURL }}</b><br><br>

            {% if repo.repo_description %}
                <div style="color:grey;font-style:italic;">{{ repo.repo_description }}</div>
            {% endif %}

            {% load staticfiles %}
            <img src="{% static "images/git-branch.png" %}" class="branch-icon"/><div class="branch-text">{{ repo.git_store.branch_name }}</div>
        </div>
        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ repo.git_store.numFiles }}
            <br/><div style="font-size:14px;color:black;">files</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ repo.git_store.numCommits }}
            <br/><div style="font-size:14px;color:black;">commits</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ authors|length }}
            <br/><div style="font-size:14px;color:black;">committers</div>
        </div>
    </div>

    <div class="large-12 columns card">
        {% for author in authors %}
            {% if forloop.counter <= 4 %}
            <div class="large-6 columns" style="float:left;">
                <div class="large-8 columns" style="margin-bottom: 10px;">
                    <a href="/authors/detail/{{ author.pk }}"><h5><b>{{ author.name }}</b></h5></a>
                </div>
                <div class="large-4 columns" style="font-size:19px;color:darkblue;">
                    {{ author.num_commits }}
                    &nbsp;<div style="font-size:12px;color:black;">commits</div>
                </div>
            </div>
            {% else %}
            <div class="hide extra_committers">
                <div class="large-6 columns" style="float:left;">
                    <div class="large-8 columns" style="margin-bottom: 10px;">
                        <h5><b>{{ author.name }}</b></h5>
                    </div>
                    <div class="large-4 columns" style="font-size:19px;color:darkblue;">
                        {{ author.num_commits }}
                        &nbsp;<div style="font-size:12px;color:black;">commits</div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <div class="commithider">
            Clicky ({{ authors.count }})
        </div>
    </div>
    <div class="large-12 columns card">
        <div class="large-6 columns" style="height:250px;text-align:center">
            <h6><b>Commits per Author</b></h6>
            <div id="piecontainer" style="height:200px;"></div>
        </div>
        <div class="large-6 columns" style="height:250px;text-align:center">
            <h6><b>Commits Over Time</b></h6>
            <div id="barcontainer" style="height:200px;"></div>
        </div>
    </div>

{% endblock %}
{% block extra_js %}
    <script>
        //data = [{ label: "Series1",  data: 10},{ label: "Series2",  data: 30}];
        $.getJSON( "{% url "repo_detail_pie" repo_pk %}", function( data ) {
            console.log(data)
            $.plot('#piecontainer', data, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        label: {
                            show: true,
                            radius: 1,
                            formatter: function(label, series) {
                                return '<div style="font-size:11px; text-align:center; padding:2px; color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                            },
                            threshold: 0.09,
                            background: {
                                opacity: 0.8,
                                color: '#444'
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            });
        });
        $.getJSON( "{% url "repo_detail_bar_day" repo_pk %}", function( data ) {
            console.log(data)
            $.plot('#barcontainer', [data], {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0
                }
            });
        });
        $(document).ready(function(){
            $(".commithider").click(
                function(){
                    $(".extra_committers").slideToggle(350);
                }
            )
        })
    </script>
{% endblock %}

