{% extends "base.html" %}

{% block content %}
    <div class="large-12 columns card">

        <h3 class="toggler clickable_heading">Add New Repository</h3>

        <div class="slidy" {% if not git_error %}style="display:none;"{% endif %}>
            <form action="/count_files" method="GET">
                <div id="nameValidate" style="display:none; margin-bottom: 10px;"></div>
                <input name="name" id="nameField" type="text" placeholder="Name">

                <div id="urlValidate" style="display:none; margin-bottom: 10px;"></div>
                <input name="repo" type="text" id="urlField" placeholder="Repository">

                <textarea name="desc" rows="3" style="resize:none;" placeholder="Description (optional)"></textarea>

                <input id="submitRepo" type="submit" value="Store" class="button" style="margin-bottom: 0px;padding-left: 80px;padding-right: 80px;"></input>
            </form>
            {% if git_error %}
                <div class="errortext">{{ repo_url }} is not a valid repository!</div>
            {% endif %}
        </div>
    </div>

    {% if repo_list %}
        {% for repo in repo_list %}
            <div class="large-12 columns card">
                <div class="large-10 columns">
                    <h4><b><a href="/repo_detail?repo={{ repo.pk }}">{{ repo.name }}</a></b></h4>
                    <h5><b>{{ repo.git_store.gitRepositoryURL }}</b></h5>
                    <h6>{{ repo.git_store.status }}</h6><!--Fix me!!!!-->
                </div>
                <div class="large-1 columns" style="font-size:22px;color:darkblue;margin-top: 20px;">
                    {{ repo.git_store.numFiles }}
                    <br/><div style="font-size:15px;color:black;">files</div>
                </div>
                <div class="large-1 columns" style="font-size:22px;color:darkblue;margin-top: 20px;">
                    {{ repo.git_store.numCommits }}
                    <br/><div style="font-size:15px;color:black;">commits</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        $( document ).ready(function() {
            $(".toggler").click(function(){
                $(".slidy").slideToggle(300);
            });
        });

        var theButton = document.querySelector("#submitRepo");
        theButton.addEventListener("click", register);

        function register(e) {
            var nameField = document.getElementById("nameField");
            var urlField = document.getElementById("urlField");

            var nameValidateDiv = document.getElementById("nameValidate");
            var urlValidateDiv = document.getElementById("urlValidate");

            var didWork = true;

            if (nameField.value == "") {
                nameValidateDiv.style.display = "block";
                nameValidateDiv.style.color = "red";
                nameValidateDiv.innerHTML = "Cannot leave name blank.";
                didWork = false;
            }
            else {
                nameValidateDiv.innerHTML = "";
                nameValidateDiv.style.display = "none";
            }

            if (urlField.value == "") {
                urlValidateDiv.style.display = "block";
                urlValidateDiv.style.color = "red";
                urlValidateDiv.innerHTML = "Cannot leave repository address blank.";
                didWork = false;
            }
            else {
                urlValidateDiv.style.display = "none";
                urlValidateDiv.style.innerHTML = "";
            }

            if (didWork == false) {
                e.preventDefault();
            }

            return didWork;
        }
    </script>
{% endblock %}