{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        var parsedCommitData = {{ json_commits|safe }};
    </script>
{% endblock %}
{% block content %}
    <div class="large-12 columns card">
        <div class="large-6 columns">
            <h3><b>{{ author.name }}</b></h3>
            <b>{{ author.git_branch.git_repository_url }}</b><br><br>

            {% load staticfiles %}
            <img src="{% static "images/git-branch.png" %}" class="branch-icon"/>
            <div class="branch-text">{{ author.git_branch.branch_name }}</div>
        </div>
        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ author.num_commits }}
            <br/><div style="font-size:14px;color:black;">commits</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ author.additions }}
            <br/><div style="font-size:14px;color:black;">insertions</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ author.deletions }}
            <br/><div style="font-size:14px;color:black;">deletions</div>
        </div>

        {% if author.num_build > 0 %}
        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ author.num_break_build }}
            <br/><div style="font-size:14px;color:black;">break</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ author.num_fix_build }}
            <br/><div style="font-size:14px;color:black;">fix</div>
        </div>

        <div class="large-2 columns" style="font-size:20px;color:darkblue;margin-top: 20px;">
            {{ author.num_build }}
            <br/><div style="font-size:14px;color:black;">builds involved</div>
        </div>
        {% endif %}
    </div>

    <div class="large-12 columns card">
        <div class="large-6 columns" style="height:250px;text-align:center">
            <h6><b>Insertions vs. Deletions</b></h6>
            <div id="piecontainer" style="height:200px;"></div>
        </div>
        <div class="large-6 columns" style="height:250px;text-align:center">
            <h6><b>Commits Over Time</b></h6>
            <div id="barcontainer" style="height:200px;"></div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        var data = [
            {label: "Insertions", data: {{ author.additions }}, color: "#397D02"},
            {label: "Deletions", data: {{ author.deletions }}, color: "#B00000"}
        ];

        $(document).ready(function () {
            $.plot('#piecontainer', data, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        label: {
                            show: true,
                            radius: 1,
                            formatter: function(label, series) {
                                return '<div style="font-size:11px; text-align:center; padding:2px; color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                            },
                            threshold: 0.09,
                            background: {
                                opacity: 0.8,
                                color: '#444'
                            }
                        }
                    }
                },
                legend: {
                    show: false
                }
            });
        });

        $.getJSON( "{% url "user_repo_detail_bar_day" author.pk %}", function( data ) {
            console.log(data)
            $.plot('#barcontainer', [data], {
                series: {
                    bars: {
                        show: true,
                        barWidth: 0.6,
                        align: "center"
                    }
                },
                xaxis: {
                    mode: "categories",
                    tickLength: 0
                },
                yaxis: {
                    min: 0
                }
            });
        });
    </script>
{% endblock %}

